.container {
    .main {


        .maintenance_container {
            margin-top: 20px;
            margin-left: 30px;
            width: 1118px;
            height: 600px;
            overflow: hidden;
            background: #Fff;
            position: fixed;
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }


            .maintenance_content {
                padding-left: 60px;
                padding-top: 44px;
                // overflow: scroll;

                .top {
                    display: flex;
                    align-items: center;
                    gap: 40px;

                    div>img {
                        width: 88px;
                        height: 96.61px;
                    }

                    .title {
                        h2 {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 30px;
                            line-height: 45px;
                            color: #312C2A;

                        }

                        p {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 27px;
                            color: #312C2A;

                            &:first-child {
                                margin-top: 7px;
                            }

                            span {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 27px;
                                color: #5C5451;
                                margin-right: 15px;
                            }

                            .equation_item {
                                margin-right: 25px;
                            }
                        }
                    }

                }

                .line {
                    width: 998px;
                    height: 5px;
                    background: #018D9B;
                    border-radius: 34px;
                    margin-top: 5px;
                }

                .failure_analysis {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-top: 15px;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    h3 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;
                        color: #000000;
                    }
                }

                .function {
                    margin-top: 10px;

                    .function_title {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 27px;
                        color: #312C2A;


                        span {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 27px;
                            color: #5C5451;
                            margin-right: 5px;
                        }
                    }

                    .line2 {
                        width: 998px;
                        height: 1px;
                        background: #C1BBB9;
                        border-radius: 66px;
                        position: relative;
                        margin-top: 4px;

                        &::before {
                            position: absolute;
                            content: "";
                            width: 82px;
                            height: 5px;
                            left: 0px;
                            top: -2.5px;
                            background: #F2783A;
                            border-radius: 34px;

                        }
                    }
                }

                .function_list {
                    display: flex;
                    align-items: center;
                    margin-top: 19px;
                    gap: 60px;
                    margin-bottom: 40px;

                    .left {
                        h3 {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 27px;
                            color: #312C2A;
                        }

                        p {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #312C2A;
                        }

                        div {
                            &:nth-child(2) {
                                margin-top: 20px;


                                p {
                                    max-width: 450px;

                                }
                            }


                        }

                        .row {
                            margin-top: 20px;
                            display: flex;
                            align-items: center;
                            // background-color: red;

                            div {
                                p {
                                    width: 210px;
                                }

                                &:nth-child(2) {
                                    margin-top: 0px;



                                }


                            }


                        }
                    }

                    .right {

                        div {
                            margin-top: -43px;
                        }

                        h3 {

                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 27px;
                            color: #312C2A;
                        }

                        ul {
                            padding-left: 20px;

                            li {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                color: #312C2A;
                            }
                        }
                    }
                }

                .maintenance_table {
                    box-sizing: border-box;
                    width: 998px;
                    height: 595px;
                    margin-top: 10px;
                    border: 1px solid #928C8A;
                    border-radius: 4px;


                    .heads {
                        height: 50px;
                        background: #EFEFEF;
                        // border: 1px solid #928C8A;
                        // border-radius: 4px 4px 0px 0px;

                        // display: inline-block;

                        th {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 21px;
                            color: #312C2A;



                            &:nth-child(1) {
                                width: 66px;
                                padding-left: 10px;
                                padding-right: 20px;
                                border-top-left-radius: 4px;

                            }

                            &:nth-child(2) {
                                width: 61px;
                                padding-right: 20px;
                            }

                            &:nth-child(3) {
                                width: 33px;
                                padding-right: 226px;
                            }

                            &:nth-child(4) {
                                white-space: pre;
                                width: 126px;
                                padding-right: 183px;
                            }

                            &:nth-child(5) {
                                width: 76px;
                                padding-right: 30px;

                                div {
                                    p {
                                        &:first-child {
                                            white-space: pre;
                                        }
                                    }
                                }
                            }

                            &:nth-child(6) {

                                width: 66px;
                                padding-right: 20px;
                            }

                            &:nth-child(7) {

                                width: 51px;
                                padding-right: 10px;
                            }

                        }
                    }

                    tr {
                        height: 75px;
                        box-sizing: border-box;
                        border-bottom: 1px solid #C1BBB9;

                        td {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 15px;
                            color: #312C2A;
                            height: 75px;
                            // padding-top: 10px;
                            box-sizing: border-box;

                            .cbm_response {
                                margin-bottom: -20px;

                                p {
                                    margin-bottom: 25px;


                                    &:first-child {}
                                }
                            }

                            .check_condition {
                                margin-top: -10px;

                                p {
                                    &:first-child {
                                        width: 239px;
                                        margin-bottom: 10px;
                                    }
                                }
                            }

                            .contactor {
                                margin-top: -32px;
                                width: 289px;
                            }

                            .contactor2 {
                                margin-top: -20px;
                                width: 289px;
                            }

                            .hour_day {
                                margin-top: -23px;

                                p {
                                    &:first-child {
                                        margin-bottom: 10px;
                                    }
                                }
                            }

                            .oo {
                                margin-top: -32px;
                            }
                        }

                    }
                }

                .footer_line {
                    width: 998px;
                    height: 5px;
                    margin-top: 26px;
                    background: #018D9B;
                    border-radius: 34px;
                }

                .end {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 10px;
                    padding-right: 60px;

                    p {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: #928C8A;
                    }
                }

            }
        }
    }
}